<mat-toolbar>
  <a routerLink="crear-producto" mat-button class="example-icon" aria-label="Example icon-button with menu icon">
    Create Product
  </a>
  <a routerLink="productos" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    List Products
  </a>
  <a routerLink="buscar-producto" mat-button class="example-icon" aria-label="Example icon-button with share icon">
    Search Products
  </a>
  <a routerLink="entradas-salidas" mat-button class="example-icon" aria-label="Example icon-button with share icon">
    Inventory entries
  </a>
</mat-toolbar>